# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# C extensions
*.so

# Idea
idea/
*.iml

# Log
log/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
python-env/
*.egg-info/
.installed.cfg
*.egg
.idea/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.db

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid

kanche_com_data/

npm-debug.log
node_modules

.DS_Store

app/cityXcar.py
lock/
